<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello</h1>
    <a th:if="${member == null}" th:href="@{/members/new}">회원가입</a>
    <a th:if="${member == null}" th:href="@{/members/logIn}">로그인</a>
    <a th:unless="${member == null}" th:href="@{/members/mypage}">마이페이지</a>
    <a th:unless="${member == null}" th:href="@{/members/logOut}">로그아웃</a>
    <a th:unless="${member == null}" th:href="@{/posts/new}">게시글작성</a>
    <a href="/posts/list">게시글목록</a>
</body>
</html>